@import "../styles/variables.scss";

.about-me-section {
  background-color: $bg1;
  height: 100vh;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-me-skill-wrapper {
  img {
    width: 3rem;
    height: 3rem;
  }
}

.about-me-skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  max-width: 800px;

  justify-content: center;
  align-items: center;

  margin: 0 auto;
}
